@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .project-scrollbar::-webkit-scrollbar {
    width: 8px;
  }

  .project-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .project-scrollbar::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 10px;
  }

  html {
    scrollbar-gutter: auto !important;
  }
}
